<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .sep{
            margin: 10px 10px 10px 10px;
        }
    </style>
</head>
<body>
    <h1>cadastrar</h1>
    <form action="" method="post"></form>
        <div class="sep">
            <input type="text" name="nome_completo" placeholder="Nome Completp">
        </div>
        <div class="sep">
            <input type="tel" name="telefone" placeholder="Telefone">
        </div>
        <div class="sep">
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="sep">
            <input type="text" name="observacao" placeholder="Observacao">
        </div>
</body>
</html>